<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="Dynamo.Converter.Properties.Settings.DynamoConnectionString"
          connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Temp\Dynamo.mdb"
          providerName="System.Data.OleDb" />
      <!--<add name="DynamoContext"
        connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;
                       database=DynamoTest
                       User Instance=true"
     providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>